.xrayQuickView{
  display: none !important;
}

.f3w9jrr.fcckh95{
  display: none !important;
}

.f1aiijcp.fw80uk2{
  display: flex !important;
}

.f1aiijcp.fw80uk2 .atvwebplayersdk-playpause-button{
  margin: 0 !important;
}